RewriteEngine On

# Cho phép CSS/JS/Image chạy trực tiếp
RewriteCond %{REQUEST_URI} \.(css|js|png|jpg|jpeg|gif|svg|ico|woff|woff2|ttf)$ [NC]
RewriteRule ^ - [L]

# Tất cả còn lại vào index.php
RewriteRule ^ index.php [QSA,L]